body {
    background-color: rgb(27, 27, 27);
}
.Topbar {
    background-color: #585858;
    overflow: hidden;
    padding-bottom: 20px;
    position: fixed;
    width: 100%;
    top:0;
    left:0;
}
.Topbar h1 {
    color: white;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: x-large;
}

.Topbar a {
    color: white;
    text-align: center;
    margin-left: 0px;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: large;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.Topbar a:hover {
    background-color: #c9c9c9;
    color: black;
}

.Topbar a.active {
    background-color: white;
    color: black;
}

.main {
    margin-top: 140px;
    text-align: left;
    max-width: 600px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

p {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
}

h2 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
}

.button {
    background-color: gray;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: bold;
    color: white;
    border: 0px;
}